src/Suck-a-Coind
src/test_Suck-a-Coin

# Ignore build dir
build/

# Compilation and Qt preprocessor part
*.qm
Makefile
Suck-a-Coin-qt

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
