[Desktop Entry]
Encoding=UTF-8
Name=Suck-a-Coin
Comment=Suck-a-Coin
Exec=/usr/bin/Suck-a-Coin-qt %u
Terminal=false
Type=Application
Icon=Suck-a-Coin
MimeType=x-scheme-handler/Suck-a-Coin;
Categories=Office;
